.box{
    width:150px;
    height: 150px;
    background-color: #f0f0f0;
    margin: 20px;
}

.example1{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)
}

.example2{
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.example3{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
    -5px 5px 10px rgba(255, 0, 0, 0.3)
}